*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- hero section start --> */
.hero-section{
    padding: 50px 80px;
    height: 100vh;
}
.hero-contant{
    float: left;
    width: 50%;
    padding: 50px 30px;
}
.hero-contant h1{
    font-size: 70px;
    text-transform: capitalize;
}
.hero-contant h1 span{
    color: tomato;
}
.hero-contant p{
font-size: 25px;
line-height: 30px;
}
.defolt-btn{
    padding: 10px 50px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 45px;
}
.hero-image{
    float: left;
    width: 50%;
}
.hero-image img{
    max-width: 100%;
    border-radius: 50%;
}

/* hero section end  */

/* breakFast section start  */
.break-fast{
    background-color: #f2f1f1;
    height: 100vh;
    padding: 50px 80px;
    width: 100%;
}
.breakFast-card{
    width: 25%;
    background-color: #fff;
    float: left;
    padding: 35px;
    margin: 30px 0 0 10px;
    position: absolute;
}
.breakFast-card h1{
    font-size: 33px;
}
.breakFast-card p{
    line-height: 25px;
    font-size: 20px;
    color: rgb(66, 66, 66);

}
.breakFast-image{
    float: left;
    width: 60%;
}
.breakFast-image img{
max-width: 100%;
}